<div class="container mt-2">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title fs-2">
        {{ expense.title
        }}<a routerLink="../" class="btn btn-danger float-end">Back</a>
      </h2>
      <h4 class="card-subtitle">Category of expense</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="white-box text-center">
            <img
              src="https://www.bootdey.com/image/430x600/00CED1/000000"
              height="400"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <h3 class="box-title mt-5 fs-4">Description</h3>
          <p class="fs-5">
            {{ expense.description }}
          </p>
          <h2 class="mt-5">Rp. {{ expense.amount }}</h2>
          <button
            class="btn btn-danger btn-rounded mr-1"
            data-toggle="tooltip"
            title=""
            data-original-title="Add to cart"
          >
            <i class="fa fa-trash"></i>
          </button>
          {{ " " }}
          <button class="btn btn-primary btn-rounded">Edit expense</button>
        </div>
      </div>
    </div>
  </div>
</div>
