<div class="container mt-2">
  <div class="d-flex justify-content-end">
    <a routerLink="create" type="button" class="btn btn-dark"> Add expense </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Beli laptop</td>
        <td>Rp. 15.000.000</td>
        <td>Gadget</td>
        <td>
          <span class="material-symbols-rounded"> info </span>
          <span class="material-symbols-rounded"> edit_square </span>
          <span class="material-symbols-rounded"> delete_forever </span>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sewa kos</td>
        <td>Rp. 850.000</td>
        <td>Rent</td>
        <td>
          <span class="material-symbols-rounded"> info </span>
          <span class="material-symbols-rounded"> edit_square </span>
          <span class="material-symbols-rounded"> delete_forever </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
